:root {

  --bg: #f5e5cc;
  --bg: #F9FFF4;
  --bg: #F2F4ED;
  --bg1: #fdfcf7;
  --bg2: #cdcabd;
  --bc: #5b5a57;
  --fg: #222222;
  --fg1: #080808;
  --fg2: #666666;

  --buttonpadding: 0.4em 0.8em;

  --bgoverlay: #85510499;
  --messagebg: #f2f2a6;
  --messagefg: #814c2d;
  --errorbg: #f43b2b;
  --errorfg: #2b2b2a;

}